:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.App,
.fill-parent-absolute,
.spectrum-theme-provider {
  height: 100%;
}
